<!--
@Author: Vidhi Shah
@Purpose: HTML page for showing user timeline tweets
-->

{% extends 'TwitterApi/base.html' %}
{% block content %}
  <html>
  <head>
  </head>
  <body>
  <div class="w3-container" style="margin-top:30px" id="GetUserTweets">
  <h1 class="w3-xxlarge w3-text-indigo"><b>Get Status User Timeline</b></h1>
  <b class="w3-large">Returns a collection of the most recent 20 Tweets posted by the user @TheSeekers6</b><br><br>
  <a href="https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline.html" target="_blank" class="w3-hover-white">
   https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline.html</a>
     <p>
       <table>
           <tr>
                <th class="w3-dark-grey">Tweet ID</th>
                <th class="w3-dark-grey">User Tweet</th>
            </tr>
            {% for twee in tweet %}
            <tr>
                <td>{{ twee.id }}</td>
                <td>{{ twee.text }}</td>
            </tr>
            {% endfor %}
       </table>
     </p>
   </div>
  </body>
</html>
{% endblock %}