<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="#profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
        <a href="#applyforleave" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Apply For Leave</a>
        <a href="#approveleave" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Approve Leave</a>
        <a href="#editemployee" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Add/Edit/Delete Employee</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log Out</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#home" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="#profile" class="w3-bar-item w3-button w3-padding-large">Profile</a>
        <a href="#applyforleave" class="w3-bar-item w3-button w3-padding-large">Apply For Leave</a>
        <a href="#approveleave" class="w3-bar-item w3-button w3-padding-large">Approve Leave</a>
        <a href="#editemployee" class="w3-bar-item w3-button w3-padding-large">Add/Edit/Delete Employee</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Log Out</a>
    </div>


</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:198px 16px" id="home">
    <h1 class="w3-margin w3-jumbo">Home Page</h1>
    <p class="w3-xlarge">Welcome to the Leave Management System</p>

    <p class="w3-large">
        "Name of Employee: {{ employees.First_Name }} - Employee ID: {{ employees.Emp_No }}"
    </p>

    <p class="w3-large">"Designation"</p>
    <p class="w3-medium">For any question/issue, please don't hesitate to contact HR support.</p>
    <!--button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button-->
</header>

</body>
</html>