<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" id="editemployee">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Add/Update/Delete Employee</h1>

            <div class="w3-row w3-padding-32">

                <div class="w3-col m12">
                    <form action="/action_page.php" target="_blank">
                        <div class="w3-bar w3-black">
                            <p><button class="w3-bar-item w3-button w3-hover-blue w3-large" onclick="openEmployee('Add Employee')"> Add Employee </button></p>
                            <p><button class="w3-bar-item w3-button w3-hover-blue w3-large" onclick="openEmployee('Update Employee')"> Update Employee </button></p>
                            <p><button class="w3-bar-item w3-button w3-hover-blue w3-large" onclick="openEmployee('Delete Employee')"> Delete Employee </button></p>
                        </div>
                        <div class="w3-row w3-padding-32 addEmp" id="Add Employee">
                            <h4>Add Employee</h4>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Street Address</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Street Address" required name="Street Address" required>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Address2</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Address2" required name="Address2">
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">City</p>
                                    <input class="w3-input w3-border" type="text" placeholder="City" required name="City" required>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">State/Region/Province</p>
                                    <input class="w3-input w3-border" type="text" placeholder="State/Region/Province" required name="State/Region/Province" required>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Zip Code</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Zip Code" required name="Zip Code" required>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Country</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Country" required name="Country" required>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Email Address</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Email Address" required name="Email Address" required>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Phone Number</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Phone Number" required name="Phone Number" required>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Salary</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Salary" required name="Salary" required>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Date of Joining</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Date of Joining" required name="Date of Joining" required>
                                </div>
                            </div>
                        </div>
                        <button class="w3-button w3-black w3-section w3-right" type="submit">Add</button>

                        <div>

                            <!-- Update Employee Grid -->

                            <div class="w3-row w3-padding-32 addEmp" id="Update Employee" style="display:none">
                                <h4>Update Employee</h4>

                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <p class="w3-small">Street Address</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Street Address" required name="Street Address">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">Address2</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Address2" required name="Address2">
                                    </div>
                                </div>
                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <p class="w3-small">City</p>
                                        <input class="w3-input w3-border" type="text" placeholder="City" required name="City">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">State/Region/Province</p>
                                        <input class="w3-input w3-border" type="text" placeholder="State/Region/Province" required name="State/Region/Province">
                                    </div>
                                </div>
                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <p class="w3-small">Zip Code</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Zip Code" required name="Zip Code">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">Country</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Country" required name="Country">
                                    </div>
                                </div>
                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <p class="w3-small">Email Address</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Email Address" required name="Email Address">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">Phone Number</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Phone Number" required name="Phone Number">
                                    </div>
                                </div>
                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <p class="w3-small">Salary</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Salary" required name="Salary">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">Date of Joining</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Date of Joining" required name="Date of Joining">
                                    </div>
                                    <div class="w3-half">
                                        <p class="w3-small">Manager</p>
                                        <input class="w3-input w3-border" type="text" placeholder="Manager" required name="Manager">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="w3-button w3-black w3-section w3-right" type="submit">Update</button>


                        <!-- Delete Employee Grid -->
                        <div class="w3-row w3-padding-32 addEmp" id="Delete Employee" style="display:none">
                            <h4>Delete Employee</h4>

                            <p class="w3-small">Employee ID</p>
                            <input class="w3-input w3-border" type="text" placeholder="Employee ID" required name="Employee ID">
                            <button class="w3-button w3-black w3-section w3-right" type="submit">Search</button>
                            <input class="w3-input w3-border" type="text" placeholder="Display Employee Info- Name and Id" required name="Employee Name and ID">
                            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black w3-section w3-right" type="submit">Delete</button>
                            <div id="id02" class="w3-modal">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <p>Employee has been deleted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function openEmployee(employee) {
    var i;
    var x = document.getElementsByClassName("addEmp");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(employee).style.display = "block";
}
</script>

<!-- Footer -->
<footer class="w3-container w3-padding-10 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>




<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>