<!DOCTYPE html>
{% extends 'LMS/base.html' %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Approve Leave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $('#ApproveLeave').addClass('w3-bar-item w3-button w3-padding-large w3-white');

        $('#Home').removeClass('w3-bar-item w3-button w3-padding-large w3-white');
        $('#Home').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');

        $('#Profile').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
        $('#ApplyForLeave').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
        $('#Logout').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
    </script>
</head>
<body>
<div class="w3-row-padding w3-light-grey w3-padding-64" id="approveleave">

    <div class="w3-content">
        <div class="w3-container" style="padding:96px 16px">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <h1>Approve Leave</h1>
                <table class="w3-table-all" action="ApproveLeave"  method="post">
                    <thead>
                    <tr class="w3-blue">
                        <th style="display:none;">EmpLeave_Req_ID</th>
                        <th>Name</th>
                        <th>Reason</th>
                        <th>Leave Type</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Requested Days</th>
                        <th>Approve</th>
                        <th>Decline</th>
                    {% for leaves2 in leavesArray2 %}
                            <tr>
                                <form class="w3-container w3-margin-top w3-card-4" action="ApproveLeave"  method="post">
                                <td>{{leaves2.Emp_FullName}}</td>
                                <td>{{leaves2.Emp_Comments}}</td>
                                <td>{{leaves2.Leave_Type}}</td>
                                <td>{{leaves2.Begin_Date}}</td>
                                <td>{{leaves2.End_Date}}</td>
                                <td>{{leaves2.Requested_Days}}</td>
                                <!--<td><input class="w3-check w3-margin-left" type="radio"></td>
                                <td><input class="w3-check w3-margin-left" type="radio"></td>
                                -->
                                <td><input type="submit" formaction="ApproveLeave?approveList={{leaves2.EmpLeave_Req_ID}}" value="Approve"/></td>
                                <td><input type="submit" formaction="ApproveLeave?declineList={{leaves2.EmpLeave_Req_ID}}" value="Decline"/></td>
                                </form>
                            </tr>
                                </thead>
                                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<SCRIPT>
function KeepCount() {

var NewCount = 0

if (document.joe.1.checked)
{NewCount = NewCount + 1}

if (document.joe.2.checked)
{NewCount = NewCount + 1}

if (NewCount == 2)
{
toastr.info('Please select one option')
document.joe; return false;
}
}
</SCRIPT>
</body>
</html>
{% endblock %}
