{% extends 'LMS/base.html' %}


{% block content %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.bgimghome {
    background-image: url('http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/0vi0g-wallpapers-48199512-1920x1080.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
</style>
</head>

<body>
    <!-- Header -->
    <div class="bgimghome w3-display-container w3-animate-opacity">
    <header class="w3-container w3-center" style="padding:200px 16px" id="home">
    <h1 class="w3-margin w3-jumbo">Home Page</h1>
    <p class="w3-xlarge">Welcome to the Leave Management System</p>
    <p class="w3-large">Name of Employee: {{employees.First_Name}} {{employees.Last_Name}}</p>
    <p class="w3-large">Designation : {{employees.Designation}}</p>
    <!--button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button-->
    </header>
    </div>
</body>
</html>
 {% endblock %}
