<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Page content
<div class="w3-content w3-padding" style="max-width:1564px"> -->

    <!-- Profile Content -->
    <div class="w3-row-padding w3-container w3-light-grey w3-padding-30" id="profile">

        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Profile</h1>

                <div class="w3-row w3-padding-32">

                    <div class="w3-col m12">
                        <form action="/action_page.php" target="_blank">
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Street Address</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Street Address" required name="Street Address" value={{employees.Street_Address}} readonly>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Address2</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Address2" required name="Address2" value={{employees.Address2}} readonly>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">City</p>
                                    <input class="w3-input w3-border" type="text" placeholder="City" required name="City" value={{employees.City}} readonly>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">State/Region/Province</p>
                                    <input class="w3-input w3-border" type="text" placeholder="State/Region/Province" required name="State/Region/Province" value="hello" readonly>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Zip Code</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Zip Code" required name="Zip Code" value="hello" readonly>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Country</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Country" required name="Country" value="hello" readonly>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Email Address</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Email Address" required name="Email Address" value="hello" readonly>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Phone Number</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Phone Number" required name="Phone Number" value="hello" readonly>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <p class="w3-small">Nationality</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Nationality" required name="Nationality" value="hello" readonly>
                                </div>
                                <div class="w3-half">
                                    <p class="w3-small">Date of Joining</p>
                                    <input class="w3-input w3-border" type="text" placeholder="Date of Joining" required name="Date of Joining" value="hello" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




<!-- Footer -->
<footer class="w3-container w3-padding-8 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>




<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
